.clock {
    width: 3rem;
    height: 3rem;
    border:3px solid #455A64;
    border-radius:50%;
    margin:1rem auto;
    padding:1rem;
    background: white;
  }

  .clock-face {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .hour-hand {
    width:50%;
    height:3px;
    background:#37474F;
    position: absolute;
    /* 50% from top minus 1/2 height of hour hand */
    top:calc(50% - 1.5px);
    transform-origin: 100%;
  }

  .min-hand {
    width:70%;
    height:2px;
    background:#37474F;
    margin-left: -20%;
    position: absolute;
    /* 50% from top minus 1/2 height of min hand */    
    top:calc(50% - 1px);
    transform-origin: 100%;
  }

  .middle {
    width:12%;
    height:12%;
    border-radius:50%;
    background:#37474F;
    position: absolute;
    /* 50% from top and left minus 6% radius of element */
    top:44%;
    left:44%;
  }