.nav {
    color: white;
    display: flex;
    justify-content: center;
    height: 100%;
}

.nav h1 {
    border: 2px solid white;
    font-size: 1.25rem;
    margin: 0.5rem;
    padding: 0.25rem;
    text-align: center;
    text-transform: uppercase;
}

.page {
    width: 700px;
}

.inputs {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
}

.inputs label {
    font-weight: bold;
    margin-right: 1rem;
}

.inputs button {
    height: 2.5rem;
}

.spinner {
    display: flex;
    justify-content: center;
}