<div *ngIf="location && month && day && data" class="datawrapper">
  <div class="databox">
    <h1>Sunrise</h1>
    <div [ngSwitch]="displaySunriseClock">
      <app-clock *ngSwitchCase="true"></app-clock>
      <h2 *ngSwitchCase="false">{{ data.results.sunrise }}</h2>
    </div>
    <button mat-raised-button color="primary" (click)="toggleSunriseTime()">{{ displaySunriseClock ? "Digital time" : "Clock" }}</button>
  </div>
  <div class="databox">
      <h1>Sunset</h1>
      <div [ngSwitch]="displaySunsetClock">
        <app-clock *ngSwitchCase="true"></app-clock>
        <h2 *ngSwitchCase="false">{{ data.results.sunset }}</h2>
      </div>
      <button mat-raised-button color="primary" (click)="toggleSunsetTime()">{{ displaySunsetClock ? "Digital time" : "Clock" }}</button>      
  </div>
  <div class="databox">
    <h1>Day length</h1>
    <h2>{{data.results.day_length}}</h2>
  </div>
</div>
