<div *ngIf="location && month && day && data" class="datawrapper">
  <div class="databox">
    <h1>Sunrise</h1>
    <div [ngSwitch]="displayClock">
      <app-clock *ngSwitchCase="true" [date]="data.results.sunrise"></app-clock>
      <h2 *ngSwitchCase="false">{{ data.results.sunrise }}</h2>
    </div>
    <button mat-raised-button color="accent" (click)="toggleClock()">{{ displayClock ? "Digital time" : "Clock" }}</button>
  </div>
  <div class="databox">
      <h1>Sunset</h1>
      <div [ngSwitch]="displayClock">
        <app-clock *ngSwitchCase="true" [date]="data.results.sunset"></app-clock>
        <h2 *ngSwitchCase="false">{{ data.results.sunset }}</h2>
      </div>
      <button mat-raised-button color="accent" (click)="toggleClock()">{{ displayClock ? "Digital time" : "Clock" }}</button>      
  </div>
  <div class="databox">
    <h1>Day length</h1>
    <app-day-length [dayLengthInSeconds]="data.results.day_length" [sunrise]="data.results.sunrise"></app-day-length>
  </div>
</div>
